
    /* nodig voor deze specifieke pagina */
    .tabel-totaal {
        background-color: black;
        margin-top: 10px;
    }

    .totaal:nth-last-child(1)::before {
        content: attr(data-cell) " :  ";
        font-weight: 600;
    }

    th.totaal {
        border-radius: 8px;
    }
